<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="backupPath" value="C:\Users\Administrator\Desktop\temp\backup"/>
    <add key="serverURL" value="http://localhost:8015/updateconfig.xml"/>
    <add key="localUPdateConfig" value="E:\HopeGi\Code\MyUpdate\MyUpdate\bin\Debug\updateconfig.xml"/>
    <add key="version" value="2"/>
    <add key="mainPath" value="C:\Users\Administrator\Desktop\temp\main"/>
    <add key="appName" value="D:\test.exe"/>
  </appSettings>
</configuration>